<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <header>
      <div>
        <a href="{{ url_for('users_index') }}" style="font-size: large">Users</a>
        <a href="{{ url_for('search_user') }}" style="font-size: large">Search</a>
        <a href="{{ url_for('users_new') }}" style="font-size: large">Create user</a>
      </div>
    </header>
    {% block content %} {% endblock %}
  </body>
</html>
